<script>
document.addEventListener("DOMContentLoaded", function() {
  const elements = document.querySelectorAll("em");
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("reveal");
        observer.unobserve(entry.target); // only trigger once
      }
    });
  }, { threshold: 0.25 });

  elements.forEach(el => observer.observe(el));
});
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N31L1R3FES"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N31L1R3FES');
</script>